---
image: gitlab-registry-production.govcms.amazee.io/govcms/govcms-ci${GOVCMS_CI_IMAGE_VERSION}

services:
  - name: gitlab-registry-production.govcms.amazee.io/govcms/govcms-ci/dind:latest
    command: ["--tls=false"]

stages:
  - validate
  - build
  - test
  - deploy

# ---
# Alias definitions.
# ---
.variables: &variables
  IMAGE_VERSION_TAG_PREFIX: ""
  IMAGE_VERSION_TAG: ""
  IMAGE_TAG_EDGE: $CI_COMMIT_SHA
  DOCKER_HOST: tcp://localhost:2375

.before_script_build: &before_script_build
  before_script:
    - export $(grep -v '^#' .env.default | xargs)
    - docker network prune -f && docker network inspect amazeeio-network >/dev/null || docker network create amazeeio-network
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - ahoy build
# ---

# ---
# Job Definitions
# ---
validate:images:
  stage: validate
  script:
    - docker-compose config -q

build:images:
  stage: build
  variables:
    <<: *variables
    DOCKER_REGISTRY_HOST: $CI_REGISTRY/
  <<: *before_script_build
  script:
    - echo "Build successful"

info:modules:
  stage: build
  variables:
    <<: *variables
  <<: *before_script_build
  script:
    - ahoy up
    - ahoy -v install -- install_configure_form.update_status_module='array(FALSE,FALSE)'
    - docker-compose exec -T cli drush status
    - /govcms/vendor/bin/govcms-module_verify
  only:
    - schedules
  artifacts:
    paths:
      - $CSV_LOCATION

test:ahoy:
  stage: test
  variables:
    <<: *variables
  <<: *before_script_build
  script:
    - ahoy up
    - ahoy test-$AHOY_TEST
  parallel:
    matrix:
      - AHOY_TEST:
          - 'goss'
          - 'redis'
          - 'install'
          - 'nginx'
  needs:
    - build:images

deploy:edge:
  stage: deploy
  variables:
    <<: *variables
    IMAGE_TAG_EDGE: $TAG
    DOCKERHUB_NAMESPACE: "govcms"
    COMPOSE_PROJECT_NAME: "govcmslagoon"
    GOVCMS_CLI_IMAGE_NAME: "govcms"
  <<: *before_script_build
  script:
    - ahoy info
    - ahoy push
  parallel:
    matrix:
      - TAG: ["edge"]
  only:
    - 1.x-develop
    - 2.x-develop
  needs:
    - test:ahoy

deploy:beta:
  stage: deploy
  variables:
    <<: *variables
    IMAGE_TAG_EDGE: $TAG
    DOCKERHUB_NAMESPACE: "govcms"
    COMPOSE_PROJECT_NAME: "govcmslagoon"
    GOVCMS_CLI_IMAGE_NAME: "govcms"
  <<: *before_script_build
  script:
    - ahoy info
    - ahoy push
  parallel:
    matrix:
      - TAG: ["beta"]
  only:
    - 1.x-master
    - 2.x-master
  needs:
    - test:ahoy
