/**
 * Override icon references in CSS for relative locations.
 */
#layout-builder-modal {
  .form-required:after {
    background-image: url(icons/required.svg);
  }
  .form-item--error-message:before {
    background: url(icons/error.svg) no-repeat;
  }
  .media-library-wrapper .views-display-link-widget {
    background: url(icons/grid.svg) left 0 no-repeat; /* LTR */
  }
  .media-library-wrapper .views-display-link-widget_table {
    background: url(icons/table.svg) left 0 no-repeat; /* LTR */
  }
  /* Media library widget remove button styles. */
  .media-library-item__remove,
  .media-library-item__remove:hover,
  .media-library-item__remove:focus,
  .media-library-item__remove.button,
  .media-library-item__remove.button:first-child,
  .media-library-item__remove.button:disabled,
  .media-library-item__remove.button:disabled:active,
  .media-library-item__remove.button:hover,
  .media-library-item__remove.button:focus {
    background: url("icons/ex.svg") #fff center no-repeat;
  }
  .media-library-add-form__remove-button[type="submit"] {
    background: transparent url(icons/ex.svg) right 2px no-repeat; /* LTR */
  }
  .media-library-add-form__remove-button:focus,
  .media-library-add-form__remove-button.button:disabled,
  .media-library-add-form__remove-button.button:disabled:active,
  .media-library-add-form__remove-button.button:focus {
    background: transparent url(icons/ex.svg) right 2px no-repeat; /* LTR */
  }

  .media-library-add-form__remove-button:hover,
  .media-library-add-form__remove-button.button:hover {
    background: transparent url(icons/ex.svg) right 2px no-repeat; /* LTR */
  }
}
/**
 * Select elements - Webkit only
 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #layout-builder-modal {
    select {
      background:
        url(icons/caret-down.svg) no-repeat 99% 63%,
        -webkit-linear-gradient(top, #f6f6f3, #e7e7df); /* LTR */
    }
    select:focus,
    select:hover {
      background-image:
        url(icons/caret-down.svg),
        -webkit-linear-gradient(top, #fcfcfa, #e9e9dd);
    }
  }
}
