/**
 * @file
 * Contains targeted overrides that aren't present in Seven.
 */

#layout-builder-modal input,
#layout-builder-modal optgroup,
#layout-builder-modal select {
  width: auto;
}

#layout-builder-modal a.tabledrag-handle .handle {
  width: 30px;
  height: 30px;
}